body{
  margin: 0;
  padding: 0;
}
/* HERO */
.taxi{
  position: relative;
  width: 100%;
}
.taxis{
  padding: 10px 30px;
  background-color: #F7B617;
  width: 400px;
  height: 350px;
  position: absolute;
  color: #fff;
}
.login{
  color: #fff;
}

/* CELULAR */
.celular{
  padding: 20px;
  background-color: #F7B617;
  color: #fff;
}

.conductor{
  position: absolute;
  left: 50%;
  top: 90%;
  color: #fff;
}
/*
.conducir{
  padding: 10px 30px;
  background-color: #F7B617;
  width: 400px;
  height: 350px;
}*/
