body{
  margin: 0;
  padding: 0;
}
.taxi{
  position: relative;
  width: 100%;
}
.hero{
  position: absolute;
  color: #fff;
}
.taxis{
  padding: 10px 30px;
  background-color: #F7B617;
  width: 400px;
  height: 350px;
}
.login{
  color: #fff;
}

.celular{
  background-color: #F7B617;
}
.col-sm-10{
  padding: 55px;
  border: 1px solid #fff;
}
